
html{margin-top: -23px;}
h1{
    
    background-image:url(https://i.pinimg.com/564x/b1/3b/0b/b13b0bad0de7411a1803898316c1056d.jpg);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family:Serif;
    color:black;
    

  }
  header{
      
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: Teal
  }
  
  main{
      
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
  }
  div{ display: inline-block;}
  
  
  footer{
    height: 100px;
    padding: 20px;
    padding-left: 100px;
    background-color: SlateGray 
  }
  body{
      
    text-align: center;
    margin: auto;
    background-image:url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm283-nunny-029-f.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=813f794e8cbc162ee7175182cad08e53);
    background-repeat: no-repeat;
    background-size: cover;
}
p.center {
  text-align: center;
  color: red;
}

p.left {
  text-align: left;
  color: red;
}